.container{
    margin-top: 5rem;
    height: calc(100vh - 60px);
    width: 100%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper > h2 {
    font-size: 32px;
    color: #222;
    letter-spacing: 1px;

}

.wrapper > form {
    margin-top: 2rem;
    width: 25%;
    padding: 1.5rem;
    border: 1px solid #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.wrapper > form > input {
    outline: none;
    border: none;
    border-bottom: 1px solid #666;
    padding: 0.5rem;
}

.submitButton {
    outline: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    font-size: 17px;
    font-weight: bold;
    background-color: #efefef;
    color: #22ab22;
    cursor: pointer;
    transition: 15ms;
    -webkit-transition: 15ms;
    -moz-transition: 15ms;
    -ms-transition: 15ms;
    -o-transition: 15ms;
    letter-spacing: 0.5px;
}

.submitButton:hover{
    border-color: #22ab22;
    background-color: #22ab22;
    color: #efefef;
}

.loginNow{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 12px;
    margin-top: 1.75rem;
    cursor: pointer;
    text-align: center;
    transition: 150ms;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -ms-transition: 150ms;
    -o-transition: 150ms;
}


.loginNow:hover{
    color: #555;
}